* {
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

#canvas-container {
  flex: 2;
  overflow: scroll;
}

#sidebar {
  flex: 1;
}
