* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

#canvas-container {
  flex: 2;
  filter: blur(0.1px);
  overflow: scroll;
}

#sidebar {
  flex: 1;
  background: #111111;
}

.btn {
  transition: 0.5s;
  margin: 1rem;
  width: 90%;
  height: 3rem;
  border: solid #777777 0.1rem;
  border-radius: 0.5rem;
  color: #777777;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
  color: #bbbbbb;
  border-color: #bbbbbb;
}
